@{
	ViewData["Title"] = "Shorten URL";
}


<!-- Masthead-->
<header class="masthead">
	<div class="container position-relative">
		<div class="row justify-content-center">
			<div class="col-xl-6">
				<div class="text-center text-white">
					<h1 class="mb-5">Rút gọn link của bạn hoàn toàn miễn phí!</h1>
					<form method="post" action="/Shorten/ShortenUrl">
						<div class="row">
							<div class="col">
								<input class="form-control form-control-lg" id="originalUrl" name="originalUrl" type="url"
									   placeholder="Dán Url cần rút gọn" data-sb-validations="required,url" required />
								<div class="invalid-feedback text-white" data-sb-feedback="originalUrl:required">
									Url is required.
								</div>
								<div class="invalid-feedback text-white" data-sb-feedback="originalUrl:url">
									Url is not valid.
								</div>
							</div>
							<div class="col-auto">
								<button class="btn btn-primary btn-lg" id="submitButton" type="submit" disabled>Submit</button>
							</div>
						</div>
					</form>
					@if (ViewBag.ShortenedUrl != null)
					{
						<div class="mt-3" id="shortenedUrlContainer">
							<h3><strong>Shortened URL:</strong></h3>
							<h5><a class="text-light" href="@ViewBag.ShortenedUrl" target="_blank" id="shortenedLink">@ViewBag.ShortenedUrl</a></h5>

							<button onclick="copyToClipboard()" class="btn btn-primary scrollto" style="border: none;">Copy Link</button>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex"><i class="bi-scissors m-auto text-primary"></i></div>
					<h3>Rút gọn URL nhanh chóng</h3>
					<p class="lead mb-0">Rút ngắn liên kết dài thành URL ngắn gọn, dễ chia sẻ chỉ trong vài giây!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex"><i class="bi-people m-auto text-primary"></i></div>
					<h3>Dễ Dàng Chia Sẻ</h3>
					<p class="lead mb-0">Chia sẻ liên kết rút gọn một cách dễ dàng qua mạng xã hội hoặc email.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-0 mb-lg-3">
					<div class="features-icons-icon d-flex"><i class="bi-lightning m-auto text-primary"></i></div>
					<h3>Hiệu Suất Cao</h3>
					<p class="lead mb-0">Đảm bảo tốc độ xử lý nhanh và ổn định cho mọi liên kết rút gọn.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Testimonials-->
<section id="counts" class="testimonials text-center custom-bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<h1 class="custom-text-dark custom-number"><b>@ViewBag.TotalShortenedCount</b></h1>
					<h5 class="custom-text-muted">Liên kết rút gọn</h5>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<h1 class="custom-text-dark custom-number"><b>@ViewBag.TotalAccessCount</b></h1>
					<h5 class="custom-text-muted">Lượt truy cập</h5>
				</div>
			</div>
		</div>
	</div>
</section>





