@{
	ViewData["Title"] = "Điều khoản và Điều kiện của TaiShorten";
}
<div class="container mt-5">
	<br>
	<br>
	<h1>Điều khoản và Điều kiện</h1>
	<p>Cập nhật lần cuối: 12 tháng 3 năm 2024</p>
	<p>Vui lòng đọc kỹ những điều khoản và điều kiện này trước khi sử dụng Dịch vụ của chúng tôi.</p>
	<h2>Hiểu và Định nghĩa</h2>
	<h3>Hiểu</h3>
	<p>Những từ có chữ cái đầu tiên được viết hoa có nghĩa được định nghĩa trong các điều kiện sau đây. Những định nghĩa sau đây sẽ có cùng ý nghĩa mà không phụ thuộc vào việc chúng xuất hiện ở dạng số ít hay số nhiều.</p>
	<h3>Định nghĩa</h3>
	<p>Việc của những Điều khoản và Điều kiện này:</p>
	<ul>
		<li>
			<p><strong>Liên kết</strong> có nghĩa là một tổ chức kiểm soát, được kiểm soát bởi hoặc cùng kiểm soát với một bên, trong đó "kiểm soát" có nghĩa là sở hữu 50% hoặc hơn số cổ phiếu, quyền sở hữu vốn hoặc các chứng khoán khác có quyền bỏ phiếu để bầu cử giám đốc hoặc cơ quan quản lý khác.</p>
		</li>
		<li>
			<p><strong>Quốc gia</strong> đề cập đến: Việt Nam</p>
		</li>
		<li>
			<p><strong>Công ty</strong> (gọi là "Công ty", "Chúng tôi", "Chúng ta" hoặc "Của chúng ta" trong Thỏa thuận này) đề cập đến TaiShorten.</p>
		</li>
		<li>
			<p><strong>Thiết bị</strong> có nghĩa là bất kỳ thiết bị nào có thể truy cập Dịch vụ như máy tính, điện thoại di động hoặc máy tính bảng kỹ thuật số.</p>
		</li>
		<li>
			<p><strong>Dịch vụ</strong> đề cập đến Trang web.</p>
		</li>
		<li>
			<p><strong>Điều khoản và Điều kiện</strong> (còn được gọi là "Điều khoản") có nghĩa là những Điều khoản và Điều kiện này tạo thành toàn bộ thỏa thuận giữa Bạn và Công ty liên quan đến việc sử dụng Dịch vụ. Thỏa thuận Điều khoản và Điều kiện này đã được tạo ra với sự trợ giúp của <a href="https://www.termsfeed.com/terms-conditions-generator/" target="_blank">Trình tạo Điều khoản và Điều kiện</a>.</p>
		</li>
		<li>
			<p><strong>Dịch vụ Mạng xã hội của Bên thứ ba</strong> có nghĩa là bất kỳ dịch vụ hoặc nội dung (bao gồm dữ liệu, thông tin, sản phẩm hoặc dịch vụ) được cung cấp bởi bên thứ ba có thể được hiển thị, bao gồm hoặc có sẵn thông qua Dịch vụ.</p>
		</li>
		<li>
			<p><strong>Trang web</strong> đề cập đến TaiShorten, có thể truy cập từ <a href="https://taishorten.somee.com" rel="external nofollow noopener" target="_blank">https://taishorten.somee.com</a></p>
		</li>
		<li>
			<p><strong>Bạn</strong> có nghĩa là cá nhân truy cập hoặc sử dụng Dịch vụ, hoặc công ty hoặc thực thể pháp lý khác thay mặt cho cá nhân đó đang truy cập hoặc sử dụng Dịch vụ, tùy thuộc vào trường hợp.</p>
		</li>
	</ul>

	<h2>Thừa Nhận</h2>
	<p>Đây là Các Điều khoản và Điều kiện quy định việc sử dụng Dịch vụ này và thỏa thuận giữa Bạn và Công ty. Các Điều khoản và Điều kiện này quy định quyền và nghĩa vụ của tất cả người dùng đối với việc sử dụng Dịch vụ.</p>
	<p>Quyền truy cập và sử dụng Dịch vụ của Bạn phụ thuộc vào việc Bạn chấp nhận và tuân thủ Các Điều khoản và Điều kiện này. Các Điều khoản và Điều kiện này áp dụng cho tất cả khách truy cập, người dùng và những người khác truy cập hoặc sử dụng Dịch vụ.</p>
	<p>Bằng cách truy cập hoặc sử dụng Dịch vụ, Bạn đồng ý tuân theo Các Điều khoản và Điều kiện này. Nếu Bạn không đồng ý với bất kỳ phần nào của Các Điều khoản và Điều kiện này, Bạn không được truy cập Dịch vụ.</p>
	<p>Bạn khẳng định rằng bạn đủ 18 tuổi trở lên. Công ty không cho phép những người dưới 18 tuổi sử dụng Dịch vụ.</p>
	<p>Quyền truy cập và sử dụng Dịch vụ của Bạn cũng phụ thuộc vào việc Bạn chấp nhận và tuân thủ Chính sách Riêng tư của Công ty. Chính sách Riêng tư của chúng tôi mô tả các chính sách và thủ tục về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của Bạn khi Bạn sử dụng Ứng dụng hoặc Trang web và thông báo về quyền riêng tư của Bạn và cách pháp luật bảo vệ bạn. Hãy đọc Chính sách Riêng tư của chúng tôi cẩn thận trước khi sử dụng Dịch vụ của chúng tôi.</p>
	<h2>Liên kết đến Trang web khác</h2>
	<p>Dịch vụ của chúng tôi có thể chứa liên kết đến các trang web hoặc dịch vụ của bên thứ ba không thuộc sở hữu hoặc kiểm soát của Công ty.</p>
	<p>Công ty không kiểm soát, và không chịu trách nhiệm cho nội dung, chính sách bảo mật hoặc thực practices thực hiện của bất kỳ trang web hoặc dịch vụ của bên thứ ba nào. Bạn thừa nhận và đồng ý rằng Công ty sẽ không chịu trách nhiệm hoặc có trách nhiệm, trực tiếp hoặc gián tiếp, đối với bất kỳ thiệt hại hoặc mất mát nào gây ra hoặc được cho là gây ra bởi hoặc liên quan đến việc sử dụng hoặc phụ thuộc vào bất kỳ nội dung, hàng hóa hoặc dịch vụ nào có sẵn trên hoặc qua bất kỳ trang web hoặc dịch vụ đó.</p>
	<p>Chúng tôi mạnh mẽ khuyến khích Bạn đọc các điều khoản và điều kiện cùng với chính sách bảo mật của bất kỳ trang web hoặc dịch vụ của bên thứ ba nào mà Bạn truy cập.</p>
	<h2>Chấm dứt</h2>
	<p>Chúng tôi có thể chấm dứt hoặc đình chỉ quyền truy cập của Bạn ngay lập tức, mà không cần thông báo trước hoặc chịu trách nhiệm, vì bất kỳ lý do nào, bao gồm, nhưng không giới hạn, nếu Bạn vi phạm Các Điều khoản và Điều kiện này.</p>
	<p>Sau khi chấm dứt, quyền sử dụng Dịch vụ của Bạn sẽ ngừng ngay lập tức.</p>
	<h2>Hạn chế trách nhiệm</h2>
	<p>Mặc dù có bất kỳ thiệt hại nào bạn có thể gặp phải, trách nhiệm toàn bộ của Công ty và bất kỳ nhà cung cấp nào trong bất kỳ quy định nào của Các Điều khoản này và biện pháp đối với tất cả những điều trước đó của bạn sẽ bị giới hạn vào số tiền thực sự bạn đã thanh toán thông qua Dịch vụ hoặc 100 USD nếu bạn không mua bất kỳ sản phẩm hoặc dịch vụ nào thông qua Dịch vụ.</p>
	<p>Theo mức độ tối đa được phép theo pháp luật hiện hành, trong bất kỳ trường hợp nào Công ty hoặc nhà cung cấp của nó cũng không chịu trách nhiệm về bất kỳ thiệt hại đặc biệt, ngẫu nhiên, gián tiếp hoặc ngẫu nhiên nào (bao gồm, nhưng không giới hạn, thiệt hại do mất lợi nhuận, mất dữ liệu hoặc thông tin khác, gián đoạn kinh doanh, chấm dứt thương mại, mất quyền riêng tư phát sinh ra do hoặc liên quan đến việc sử dụng hoặc không thể sử dụng Dịch vụ, phần mềm của bên thứ ba và/hoặc phần cứng của bên thứ ba sử dụng với Dịch vụ, hoặc liên quan đến bất kỳ quy định nào của Các Điều khoản này), ngay cả khi Công ty hoặc bất kỳ nhà cung cấp nào đã được thông báo về khả năng của các thiệt hại đó và ngay cả khi biện pháp khắc phục không đạt được mục tiêu chính của nó.</p>
	<p>Một số tiểu bang không cho phép loại trừ các bảo hành ngụ ý hoặc giới hạn trách nhiệm đối với các thiệt hại ngẫu nhiên hoặc gián tiếp, điều đó có nghĩa là một số hạn chế trên có thể không áp dụng. Ở những tiểu bang đó, trách nhiệm của mỗi bên sẽ bị giới hạn trong phạm vi lớn nhất được phép theo luật.</p>
	<h2>Không Đảm Bảo "NHƯ NÀY" và "NHƯ SẴN CÓ"</h2>
	<p>Dịch vụ được cung cấp cho Bạn "NHƯ NÀY" và "NHƯ SẴN CÓ" và có tất cả các lỗi và khuyết điểm mà không có bảo hành nào. Theo mức độ tối đa được phép theo pháp luật hiện hành, Công ty, thay mặt cho bản thân và thay mặt cho Công ty và các công ty liên kết và bên cung cấp dịch vụ của chúng và các nhà cung cấp dịch vụ của họ, tuyên bố rằng tất cả các bảo hành, không phụ thuộc vào việc là bảo hành rõ ràng hay ngụ ý, theo luật hoặc không, liên quan đến Dịch vụ, bao gồm tất cả các bảo hành ngụ ý về tính hợp lý, tính ứng dụng cho một mục đích cụ thể, tiêu đề và không vi phạm, và các bảo hành có thể phát sinh ra từ quá trình giao dịch, quá trình thực hiện, sử dụng hoặc thực hành thương mại. Không giới hạn vào việc trên, Công ty không đưa ra bất kỳ bảo hành hoặc cam kết, và không có đại diện nào về bất kỳ loại nào là: (i) về hoạt động hoặc sẵn có của Dịch vụ, hoặc thông tin, nội dung và vật liệu hoặc sản phẩm bao gồm trong đó; (ii) rằng Dịch vụ sẽ không bị gián đoạn hoặc không có lỗi; (iii) về tính chính xác, đáng tin cậy hoặc mới nhất của bất kỳ thông tin hoặc nội dung nào được cung cấp qua Dịch vụ; hoặc (iv) rằng Dịch vụ, máy chủ của nó, nội dung hoặc thư điện tử được gửi từ hoặc thay mặt cho Công ty không chứa virus, scripts, trojan horses, worms, malware, timebombs hoặc các thành phần có hại khác.</p>
	<p>Ở một số quốc gia không cho phép loại trừ một số loại bảo hành hoặc giới hạn trách nhiệm đối với người tiêu dùng, do đó, một số hoặc tất cả các loại trừng phạt và giới hạn ở trên có thể không áp dụng đối với Bạn. Nhưng trong trường hợp đó, những loại trừng phạt và giới hạn được đặt ra trong phần này sẽ được áp dụng trong phạm vi có thể được thực hiện nhất theo pháp luật hiện hành.</p>
	<h2>Luật Pháp Áp Dụng</h2>

	<p>Luật pháp của Đất nước, không bao gồm các quy tắc xung đột pháp luật của nó, sẽ quy định Các Điều khoản này và việc Bạn sử dụng Dịch vụ. Việc Bạn sử dụng Ứng dụng cũng có thể phải tuân thủ các luật pháp địa phương, tiểu bang, quốc gia hoặc quốc tế khác.</p>
	<h2>Giải quyết Tranh chấp</h2>
	<p>Nếu Bạn có bất kỳ mối quan ngại hoặc tranh chấp nào về Dịch vụ, Bạn đồng ý thử giải quyết tranh chấp một cách không chính thức trước bằng cách liên hệ với Công ty.</p>
	<h2>Đối với Người sử dụng Liên minh Châu Âu (EU)</h2>
	<p>Nếu Bạn là người tiêu dùng Liên minh Châu Âu, Bạn sẽ hưởng lợi từ bất kỳ quy định bắt buộc nào của pháp luật của quốc gia Bạn đang cư trú.</p>
	<h2>Tuân thủ Pháp luật Hoa Kỳ</h2>
	<p>Bạn tuyên bố và đảm bảo rằng (i) Bạn không đang ở trong một quốc gia chịu ảnh hưởng của lệnh cấm của chính phủ Hoa Kỳ, hoặc đã được chính phủ Hoa Kỳ xác định là một quốc gia "ủng hộ khủng bố", và (ii) Bạn không được liệt kê trong bất kỳ danh sách nào của chính phủ Hoa Kỳ về các bên cấm hoặc hạn chế.</p>
	<h2>Tách rời và Miễn trách</h2>
	<h3>Tách rời</h3>
	<p>Nếu bất kỳ quy định nào của Các Điều khoản này bị coi là không thể thi hành hoặc vô hiệu, quy định đó sẽ được thay đổi và diễn giải để đạt được mục tiêu của quy định đó trong phạm vi lớn nhất có thể theo luật pháp hiện hành và các quy định còn lại sẽ tiếp tục có hiệu lực đầy đủ.</p>
	<h3>Miễn trách</h3>
	<p>Ngoại trừ những quy định ở đây, việc không thực hiện quyền lợi hoặc không đòi hỏi thực hiện nghĩa vụ theo Các Điều khoản này sẽ không ảnh hưởng đến khả năng của một bên để thực hiện quyền lợi hoặc đòi hỏi thực hiện nghĩa vụ đó vào bất kỳ thời điểm nào sau đó, cũng như việc miễn trách về một vi phạm không tạo thành sự miễn trách về bất kỳ vi phạm sau này nào.</p>
	<h2>Diễn giải Dịch thuật</h2>
	<p>
		Các Điều khoản và Điều kiện này có thể đã được dịch nếu Chúng tôi đã làm cho chúng có sẵn cho Bạn trên Dịch vụ của chúng tôi.
		Bạn đồng ý rằng văn bản tiếng Anh gốc sẽ có ưu tiên trong trường hợp xảy ra tranh chấp.
	</p>
	<h2>Thay Đổi Các Điều khoản và Điều kiện này</h2>
	<p>Chúng tôi giữ quyền, tùy theo quyền đơn phương của chúng tôi, sửa đổi hoặc thay thế Các Điều khoản này vào bất kỳ thời điểm nào. Nếu một sửa đổi là quan trọng, chúng tôi sẽ nỗ lực hợp lý để cung cấp ít nhất 30 ngày thông báo trước khi bất kỳ điều khoản mới nào có hiệu lực. Điều gì tạo thành một thay đổi quan trọng sẽ được quyết định theo quyền đơn phương của chúng tôi.</p>
	<p>Bằng cách tiếp tục truy cập hoặc sử dụng Dịch vụ của chúng tôi sau khi những sửa đổi đó có hiệu lực, Bạn đồng ý tuân theo những điều khoản sửa đổi. Nếu Bạn không đồng ý với những điều khoản mới, toàn bộ hoặc một phần, hãy dừng sử dụng trang web và Dịch vụ của chúng tôi.</p>
	<h2>Liên Hệ</h2>
	<p>Nếu bạn có bất kỳ câu hỏi nào về Các Điều khoản và Điều kiện này, bạn có thể liên hệ với chúng tôi:</p>
	<ul>
		<li>Qua email: taileduc0404@gmail.com</li>
	</ul>
</div>
